In [1]:
from prody import *
import matplotlib.pyplot as plt
import pandas as pd

pdb = parsePDB("5lmn_f.pdb")
#,chain='D')
#ca = pdb.select("name CA")
pdb = pdb.select("name CA or name P")
#writePDB("and.pdb",pd)
anm =ANM('ubi') # instantiate ANM object
anm.buildHessian(pdb) # build Hessian matrix for selected atoms
anm.calcModes()

cross = calcCrossCorr(anm, n_cpu=1, norm=True)
df_cross_5l = pd.DataFrame(cross)

pdb = parsePDB("4ji1_f.pdb")
#,chain='D')
#ca = pdb.select("name CA")
pdb = pdb.select("name CA or name P")
#writePDB("and.pdb",pd)
anm =ANM('ubi') # instantiate ANM object
anm.buildHessian(pdb) # build Hessian matrix for selected atoms
anm.calcModes()

cross = calcCrossCorr(anm, n_cpu=1, norm=True)
df_cross_4j = pd.DataFrame(cross)
'''
pdb = parsePDB("6qnq_f_noK.pdb")
pdb = pdb.select("name CA or name P")
anm =ANM('ubi') # instantiate ANM object
anm.buildHessian(pdb) # build Hessian matrix for selected atoms
anm.calcModes()

cross = calcCrossCorr(anm, n_cpu=1, norm=True)
df_cross_6q = pd.DataFrame(cross)
'''

@> 54025 atoms and 1 coordinate set(s) were parsed in 0.33s.
@> Hessian was built in 2.25s.
@> 20 modes were calculated in 106.57s.
@> 51240 atoms and 1 coordinate set(s) were parsed in 0.36s.
@> Hessian was built in 2.00s.
@> 20 modes were calculated in 83.18s.
@> 149925 atoms and 1 coordinate set(s) were parsed in 0.78s.
@> Hessian was built in 11.20s.
@> WARNING More than 6 (10) zero eigenvalues were calculated.
@> Solving for additional eigenvalues...
@> 20 modes were calculated in 3556.54s.

In [99]:
fin,fin1,fin2,fin3,fin4,fin5,fin6 = [],[],[],[],[],[],[]
#f = open("demo_4j.txt", "a")
df_pdb = pd.read_csv('atm_4j.csv',header=None,names = ['atm_num','atm_type','res_type','chain','res_num'],sep=',')

for i in range(0,len(df_cross_4j[0])):
    for j in range(0,len(df_cross_4j[0])):
        if df_cross_4j[i][j]>0.7:
            res1 = df_pdb['chain'][i]
            res2 = df_pdb['chain'][j]
            #print("***")
            if res1 != 'A' :
                if res2 != 'A':
                    if res1 != res2:
                        fin.append(df_cross_4j[i][j])
                        fin1.append(i)
                        fin2.append(j)
                        fin3.append(df_pdb['chain'][i])
                        fin4.append(df_pdb['res_num'][i])
                        fin5.append(df_pdb['chain'][j])
                        fin6.append(df_pdb['res_num'][j])
                
#f.close()
df_fin = pd.DataFrame()
df_fin['val'] = fin
df_fin['i'] =fin1
df_fin['j'] =fin2
df_fin['ch1'] = fin3
df_fin['ch2'] = fin5
df_fin['res_num1'] = fin4
df_fin['res_num2'] = fin6
df_fin.to_csv('4j_fin.csv')
#df_fin = df_fin[df_fin['ch2'] != 'A']

In [100]:
pdb = parsePDB("4ji1_f.pdb")
#,chain='D')
#ca = pdb.select("name CA")
pdb = pdb.select("name CA or name P")
dist = pd.DataFrame(buildDistMatrix(pdb,format='mat'))
distance = []
for dat in range(0,len(df_fin['val'])):
    distance.append(dist[df_fin['i'][dat]][df_fin['j'][dat]])
df_fin['dist']=distance

df_fin.to_csv('4j_fin.csv')

@> 51240 atoms and 1 coordinate set(s) were parsed in 0.28s.

In [98]:
df_fin.to_csv('5j_fin.csv')
df_pdb

        atm_num atm_type res_type chain res_num
'ATOM'        1      'P'      'U'   'A'       5
'ATOM'        2      'P'      'G'   'A'       6
'ATOM'        3      'P'      'G'   'A'       7
'ATOM'        4      'P'      'A'   'A'       8
'ATOM'        5      'P'      'G'   'A'       9
...         ...      ...      ...   ...     ...
'ATOM'     3865     'CA'    'TYR'   'U'      21
'ATOM'     3866     'CA'    'ARG'   'U'      22
'ATOM'     3867     'CA'    'PRO'   'U'      23
'ATOM'     3868     'CA'    'ARG'   'U'      24
'ATOM'     3869     'CA'    'LYS'   'U'      25

[3869 rows x 5 columns]

In [81]:
df_fin = df_fin[df_fin['ch2'] != 'A']
df_fin
#df_fin = df_fin[df_fin['ch1'] != df_fin['ch2']]
#df_fin = df_fin[df_fin['val'] > 0.7]
#df_fin

Empty DataFrame
Columns: [val, i, j, ch1, ch2, res_num1, res_num2]
Index: []

In [67]:
distance = []
for dat in range(0,len(df_fin['val'])):
    distance.append(dist[df_fin['i'][dat]][df_fin['j'][dat]])

In [79]:
df_new

Empty DataFrame
Columns: [val, i, j, ch1, ch2, res_num1, res_num2]
Index: []